{% extends 'others/layout.html.twig' %}

{% block title %}Trajets{% endblock %}

{% block contentheader %}

{% endblock %}

{% block contentmain %}
<div class="box-body table-responsive">
    <table class="table table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th>Date</th>
            <th>Heure de départ</th>
            <th>Bateau</th>
            <th>Port de départ</th>
            <th>Port d'arrivée</th>
        </tr>
        </thead>
        <tbody>
        {% for crossing in crossings %}
            <tr>
                <td>{{ crossing.date }}</td>
                <td>{{ crossing.timeStart }}</td>
                <td>{{ crossing.boat.name }}</td>
                <td>{{ crossing.link.startingHarbor.name }}</td>
                <td>{{ crossing.link.arrivalHarbor.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}