{% extends 'others/layout.html.twig' %}

{% block title %}Traversée {{ crossing.id }}{% endblock %}

{% block contentheader %}

{% endblock %}

{% block contentmain %}
    <div class="row">
        <div class="col-md-5">
            <div class="box">
                <div class="box-header">
                    <h1 class="box-title">{{ crossing.link.startingHarbor.name }} &rarr; {{ crossing.link.arrivalHarbor.name }}
                        <small>Traversée</small>
                    </h1>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Date de départ : </strong>{{ crossing.date }}
                        </div>
                        <div class="col-md-6">
                            <strong>Heure de départ : </strong>{{ crossing.timeStart }}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <strong>Nom du bateau : </strong>{{ crossing.boat.name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Nombre de passager max : </strong>{{ passenger }}
                            </div>
                            <div class="col-md-4">
                                <strong>Nombre de véhicules léger max : </strong>{{ vehicle }}
                            </div>
                            <div class="col-md-4">
                                <strong>Nombre de véhicules lourd max : </strong>{{ vehicleHeavy }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Nombre de places passagers disponibles : </strong>{{ passengerAvailable }}
                            </div>
                            <div class="col-md-4">
                                <strong>Nombre de places parking disponibles (léger) : </strong>{{ vehicleAvailable }}
                            </div>
                            <div class="col-md-4">
                                <strong>Nombre de places parking disponibles (lourd) : </strong>{{ vehicleHeavyAvailable }}
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h1 class="box-title">Réservation</h1>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="newBooking">
                                <div class="form-group">
                                    <label>Nombre de passager :</label>
                                    {% if full == 400 and passengerAvailable == 0 %}<br><label class="error">Aucunes places passagers disponibles</label>{% endif %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Enfants (0-7)</label>
                                            <input name="nbPassengersKids" type="number" class="form-control" value="0" max="{{ passengerAvailable }}"
                                                    {% if passengerAvailable == 0 %} disabled {% endif %}  />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Juniors (8-18)</label>
                                            <input name="nbPassengersJuniors" type="number" class="form-control" value="0" max="{{ passengerAvailable }}"
                                                    {% if passengerAvailable == 0 %} disabled {% endif %}  />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Adultes</label>
                                            <input name="nbPassengersAdults" type="number" class="form-control" value="0" max="{{ passengerAvailable }}"
                                                    {% if passengerAvailable == 0 %} disabled {% endif %}  />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Nombre de véhicules légers :</label>
                                    {% if full == 400 and vehicleAvailable == 0 %}<label class="error">Aucunes places parking disponibles</label>{% endif %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Inférieurs à 4m</label>
                                            <input name="nbVehicles_4" type="number" class="form-control" value="0" max="{{ vehicleAvailable }}"
                                                    {% if vehicleAvailable == 0 %} disabled {% endif %} />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Inférieurs à 5m</label>
                                            <input name="nbVehicles_5" type="number" class="form-control" value="0" max="{{ vehicleAvailable }}"
                                                    {% if vehicleAvailable == 0 %} disabled {% endif %} />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Nombre de véhicules lourds :</label>
                                    {% if full == 400 and vehicleHeavyAvailable == 0 %}<label class="error">Aucunes places parking disponibles</label>{% endif %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Fourgon</label>
                                            <input name="nbVehiclesHeavyFour" type="number" class="form-control" value="0" max="{{ vehicleHeavyAvailable }}"
                                                    {% if vehicleHeavyAvailable == 0 %} disabled {% endif %} />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Camping Car</label>
                                            <input name="nbVehiclesHeavyCamCar" type="number" class="form-control" value="0" max="{{ vehicleHeavyAvailable }}"
                                                    {% if vehicleHeavyAvailable == 0 %} disabled {% endif %} />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Camion</label>
                                            <input name="nbVehiclesHeavyCamion" type="number" class="form-control" value="0" max="{{ vehicleHeavyAvailable }}"
                                                    {% if vehicleHeavyAvailable == 0 %} disabled {% endif %} />
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="{{ crossing.id }}" name="crossingId" />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="submit" value="Réservez !" class="btn" {% if full == 403 or dateOut== 1 %} disabled {% endif %}/>
                                        </div>
                                        <div class="col-md-8">
                                            {% if full == 403 %}<label class="error">Cette traversée est complète !</label>{% endif %}
                                            {% if dateOut == 1 %}<label class="error">La traversée s'est déjà déroulée</label>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}