{% extends 'others/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block contentheader %}
    <center><h1>Accueil</h1></center>
{% endblock %}

{% block contentmain %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h2 class="box-title">Recherche de traversées</h2>
                </div>
                <div class="box-body">
                    <div class="row">
                        {% if error > 400 and error < 404 %}
                            <div class="col-md-12">
                                <div class="alert alert-warning">
                                    <i class="fa fa-warning"></i>
                                    <b>Alerte !</b>
                                    {% if error == 401 %}
                                        Veuillez sélectionner un lien.
                                    {% endif %}
                                    {% if error == 402 %}
                                        Veuillez entrer une date valide.
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <form method="post" action="search_crossing">
                        <div class="form-group">
                            <label>Date :</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input class="form-control" placeholder="dd/mm/yyyy" type="text" name="date"
                                               maxlength="10"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Heure souhaitée :</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input class="form-control" placeholder="hh" type="text" name="hour"
                                               maxlength="2"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Lien</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="form-control" name="link">
                                        <option value="unselected" selected>---</option>
                                        {% for link in links %}
                                            <option value="{{ link.id }}">{{ link.startingHarbor.name }} &rarr; {{ link.arrivalHarbor.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box box-danger">
                <div class="box-header">
                    <h1 class="box-title">Vos dernières réservations</h1>
                </div>
                <div class="box-body table-responsive">
                    <table id="table-booking" class="table table-bordered table-hover display">
                        <thead>
                        <tr>
                            <th>Date de départ</th>
                            <th>Heure de départ</th>
                            <th>Liaison</th>
                            <th>Détails de la réservation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.crossing.date }}</td>
                                <td>{{ booking.crossing.timeStart }}</td>
                                <td>{{ booking.crossing.link.startingHarbor.name }} &rarr; {{ booking.crossing.link.arrivalHarbor.name }}</td>
                                <td><a href="booking/{{ booking.id }}"><button class="btn">Détails</button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-success">
                <div class="box-header">
                    <h1 class="box-title">Prochaines traversées</h1>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table id="table-crossing" class="table table-bordered table-hover display">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Heure de départ</th>
                                    <th>Bateau</th>
                                    <th>Port de départ</th>
                                    <th>Port d'arrivée</th>
                                    <th>Détails des trajets</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for crossing in crossings %}
                                    <tr>
                                        <td>{{ crossing.date }}</td>
                                        <td>{{ crossing.timeStart }}</td>
                                        <td>{{ crossing.boat.name }}</td>
                                        <td>{{ crossing.link.startingHarbor.name }}</td>
                                        <td>{{ crossing.link.arrivalHarbor.name }}</td>
                                        <td><a href="crossing/{{ crossing.id }}">
                                                <button class="btn">Détails</button>
                                            </a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="crossing">
                            <button class="btn btn-primary">Voir plus de traversées</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}